.ns-popover-list-theme {
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  z-index: 100;
  background-color: #fff;

  ul, .list {
    padding: 0;
    margin: 0.625rem 0;
    display: block;
  }

  li, .list-item {
    list-style-type: none;

    a {
      padding: 0.1875rem 0.625rem;
      display: block;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.ns-popover-tooltip-theme {
  box-sizing: border-box;
  z-index: 100;
  background-color: transparent;

  &.ns-popover-center-align {
    width: 0;
    height: 0;
    border-style: none solid solid solid;
    border-width: 0 0.3125rem 0.3125rem 0.3125rem;
    border-color: #fff transparent transparent transparent;
  }
}