.ns-popover-default-theme {
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;

  ul {
    padding: 0;
    margin: 0.625rem 0;
  }

  li, .list-item {
    list-style-type: none;
    padding: 0.1875rem 1.25rem;
  }
}