<!DOCTYPE html>
<html ng-app="nsPopoverExample">
<head>
  <meta charset="utf-8">
  <title>nsPopover demo</title>

  <link rel="stylesheet" href="nsPopover.css">
  <link rel="stylesheet" href="index.css">

  <script src="angular.min.js"></script>
  <script src="nsPopover.js"></script>
  <script src="index.js"></script>

  <script type="text/ng-template" id="menu">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <ul>
        <li ng-repeat="item in items"><a>{{item.name}}</a></li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="close">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
        <ul>
            <li ng-repeat="item in items"><input type="checkbox">{{item.name}}</li>
        </ul>
      <button ng-click="hidePopover()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="tooltip">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      Cool! The <b>nsPopover</b> could be used as a tooptip.
    </div>
  </script>

</head>
<body ng-controller="MainCtrl">

<section viewport-width>
  <h1> Menus </h1>
  <article>
    <p>
      <b>nsPopover</b> could be used as a simple dropdown menu. You can use the built-in <b>ns-popover-list-theme</b> to
      style the popover as a dropdown or create a custom one.
    </p>

    <button ns-popover
            ns-popover-template="menu"
            ns-popover-trigger="click"
            ns-popover-theme="ns-popover-list-theme"
            ns-popover-timeout="5">
      Click me
    </button>

    <a ns-popover
       ns-popover-template="menu"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-list-theme">
      Hover me
    </a>
  </article>

  <h1> Tooltip </h1>
  <article>
    <p>
      <b>nsPopover</b> could be used as a simple tooltip. You can use the built-in <b>ns-popover-tooltip-theme</b>
      to style the popover as a dropdown or create a custom one.
    </p>

    <button ns-popover
            ns-popover-template="tooltip"
            ns-popover-trigger="click"
            ns-popover-theme="ns-popover-tooltip-theme"
            ns-popover-timeout="1">
      Click Me
    </button>

    <a ns-popover
       ns-popover-template="tooltip"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-tooltip-theme">
      Hover me
    </a>
  </article>

  <h1> Hide on click </h1>
  <article>
      <p>
          <b>nsPopover</b> hide when it is clicked by default, but this behavior could be changed by set
          the <b>ns-popover-hide-on-click</b> property to false. The popover above is closed only when the
          Close button is clicked.
      </p>

      <button ns-popover
            ns-popover-template="close"
            ns-popover-trigger="click"
            ns-popover-theme="ns-popover-tooltip-theme"
            ns-popover-timeout="1000"
            ns-popover-hide-on-inside-click="false"
            ns-popover-hide-on-outside-click="true"
            ns-popover-hide-on-button-click="true">
        Click Me
    </button>
  </article>
    
  <h1> Modal </h1>
  <article>
      <p>
          <b>nsPopover</b> hide other popover instances when the current one is open. Can be optionally grouped.
      </p>
    <a ns-popover
       ns-popover-template="tooltip"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-tooltip-theme">
       Hover me
    </a>
    <a ns-popover
       ns-popover-template="tooltip"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-tooltip-theme"
       ns-popover-group="my-group-name">
      Hover me (Group)
    </a>
    <a ns-popover
       ns-popover-template="tooltip"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-tooltip-theme"
       ns-popover-group="my-group-name">
      Hover me (Group)
    </a>
  </article>
    
  <h1> Track mouse position </h1>
  <article>
      <p>
          <b>nsPopover</b> could be displayed at the same point the mouse is positioned, which could be used
          to create popver that acts as a context menu. To enabled this feature you just need to specify
          <b>ns-popover-mouse-relative</b> property to the axis to be tracked. The popover above is displayed
          at the same x and y position of the mouse, when clicked.
      </p>

      <div class="hover"
        ns-popover
        ns-popover-template="menu"
        ns-popover-trigger="click"
        ns-popover-theme="ns-popover-list-theme"
        ns-popover-timeout="1"
        ns-popover-mouse-relative="xy">
          Click anywhere inside me
      </div>
  </article>

  <h1> Delay popup </h1>
  <article>
      <p>
          <b>nsPopover</b> can create a delay on the popup element.
      </p>

      <button ns-popover
            ns-popover-template="tooltip"
            ns-popover-trigger="mouseenter"
            ns-popover-theme="ns-popover-tooltip-theme"
            ns-popover-placement="right"
            ns-popover-timeout="0.2"
            ns-popover-popup-delay="0.7">
        Hover and wait
      </button>
      <p/>
      <div class="hover"
        ns-popover
        ns-popover-template="menu"
        ns-popover-trigger="click"
        ns-popover-theme="ns-popover-list-theme"
        ns-popover-timeout="1"
        ns-popover-placement="right"
        ns-popover-timeout="0.2"
        ns-popover-popup-delay="0.7">
          Click and wait
      </div>
  </article>

  <br>

  <h1>Disable/Enable Popover</h1>
  <article ng-init="displayPopover = true">
    <a ns-popover="shouldDisplayPopover()"
       ns-popover-placement="top"
       ns-popover-template="menu"
       ns-popover-trigger="mouseenter"
       ns-popover-theme="ns-popover-list-theme"
       ns-popover-timeout="0">
      Hover me
    </a>

    <button ng-click="displayPopover = !displayPopover"
            ng-bind="displayPopover ? 'Turn off popover' : 'Turn on popover'">
    </button>
  </article>

  <br>
</section>
</body>
</html>
